<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanzapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_channel_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_channel"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanzApp">

        // Home
        <activity
            android:name=".ui.home.HomeChart"
            android:label="@string/home_chart_lable" />
        <activity
            android:name=".ui.CashFlow.QuickPay"
            android:label="@string/quick_add_lable" />

        // FB
        <activity
            android:name=".ui.CashFlow.CashFlowAddNew"
            android:label="@string/cashflow_add_lable" />
        <activity
            android:name=".ui.financebook.FinanceBookCharts"
            android:label="@string/fb_financebook_charts_lable" />
        <activity
            android:name=".ui.financebook.FinanceBookOverview"
            android:label="@string/fb_financebook_lable"
            android:noHistory="true" />

        //Contracts Income
        <activity
            android:name=".ui.Income.IncomeDetailsChange"
            android:label="@string/income_details_change_lable" />
        <activity
            android:name=".ui.Income.IncomeDetails"
            android:label="@string/income_details_lable" />
        <activity
            android:name=".ui.Income.IncomeAddNew"
            android:label="@string/income_add_new_lable" />
        <activity
            android:name=".ui.Income.IncomeOverview"
            android:label="@string/income_overwiev_lable" />

        // Contracts Costs
        <activity
            android:name=".ui.Contracts.ContractsDetailsChange"
            android:label="@string/contracts_details_change_lable"
            android:noHistory="true" />
        <activity
            android:name=".ui.Contracts.ContractsDetails"
            android:label="@string/contracts_details_lable" />
        <activity
            android:name=".ui.Contracts.ContractsAddNew"
            android:label="@string/contracts_add_new_lable" />
        <activity
            android:name=".ui.Contracts.ContractsOverview"
            android:label="@string/contracts_overwiev_lable"
            android:noHistory="true" />

        // Costhierarchie
        <activity
            android:name=".ui.Contracts.ContractsChartActivity"
            android:label="@string/home_chart_lable" />
        <activity
            android:name=".ui.CostsHierarchy.CostsHierarchyE3"
            android:label="@string/costshierarchyOverview_title_listview_E3_lable" />
        <activity
            android:name=".ui.CostsHierarchy.CostsHierarchyE2"
            android:label="@string/costshierarchyOverview_title_listview_E2_lable" />
        <activity
            android:name=".ui.CostsHierarchy.CostsHierarchyE1"
            android:label="@string/costshierarchyOverview_title_listview_E1_lable" />
        <activity
            android:name=".ui.CostsHierarchy.CostsHierarchyOverview"
            android:label="@string/costshierarchyOverview_title_listview_Overview_lable"
            android:noHistory="true" />

        // Assetes
        <activity
            android:name=".ui.Assets.AssetsChartActivity"
            android:label="@string/assets_chart_lable" />
        <activity
            android:name=".ui.Assets.AssetsOverview"
            android:label="@string/assets"
            android:noHistory="true" />
        <activity
            android:name=".ui.Assets.AssetsAddNew"
            android:label="@string/assets_add" />
        <activity
            android:name=".ui.Assets.AssetsDetails"
            android:label="@string/assets_details" />
        <activity
            android:name=".ui.Assets.AssetsDetailsChange"
            android:label="@string/assets_details_change" />

        // Main
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinanzApp.NoActionBar" />

        // Login
        <activity
            android:name=".ui.login.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinanzApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        // Logout
        <activity
            android:name=".ui.login.CreatePinActivity"
            android:label="@string/PinChange_Lable" />
        <activity
            android:name=".ui.login.EnterPinActivity"
            android:label="@string/TextPinEnter_Lable" />
        <activity
            android:name=".ui.logout.LogoutActivity"
            android:noHistory="true" />
    </application>

</manifest>