<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanzapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_channel_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_channel"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanzApp">
        <activity android:name=".ui.Income.IncomeDetailsChange"></activity>
        <activity android:name=".ui.Income.IncomeDetails" />
        <activity android:name=".ui.Income.IncomeAddNew" />
        <activity android:name=".ui.Income.IncomeOverview" />
        <activity android:name=".ui.Contracts.ContractsDetailsChange" />
        <activity android:name=".ui.Contracts.ContractsDetails" />
        <activity android:name=".ui.Contracts.ContractsAddNew" />
        <activity android:name=".ui.Contracts.ContractsOverview" />
        <activity android:name=".ui.logout.LogoutActivity" />
        <activity android:name=".ui.CostsHierarchy.CostsHierarchyE3" />
        <activity android:name=".ui.CostsHierarchy.CostsHierarchyE2" />
        <activity android:name=".ui.CostsHierarchy.CostsHierarchyE1" />
        <activity android:name=".ui.CostsHierarchy.CostsHierarchyOverview" />
        <activity android:name=".ui.home.HomeTwoActivity" />
        <activity
            android:name=".ui.login.CreatePinActivity"
            android:label="@string/PinChange_Lable" />
        <activity
            android:name=".ui.login.EnterPinActivity"
            android:label="@string/TextPinEnter_Lable" />
        <activity
            android:name=".ui.Assets.AssetsOverview"
            android:label="@string/assets" />
        <activity
            android:name=".ui.Assets.AssetsAddNew"
            android:label="@string/assets_add" />
        <activity
            android:name=".ui.Assets.AssetsDetails"
            android:label="@string/assets_details" />
        <activity
            android:name=".ui.Assets.AssetsDetailsChange"
            android:label="@string/assets_details_change" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinanzApp.NoActionBar" />
        <activity
            android:name=".ui.login.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FinanzApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>